<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="css/inicio.css">
</head>
<body>
    <div class="container">
        <h1 class="welcome">Bienvenido a GNPTE</h1>
        <div class="frase-bienvenida">¡Te ayudamos a organizar tus ideas!</div>
        <div class="button-container">
            <a href="/login" class="button">Inicio de Sesión</a>
            <a href="/register" class="button">Registrar</a>
            <a href="/acerca" class="button">Acerca del Programa</a>
        </div>
        <div class="logo-container">
            <img src="/img/logo.png" alt="Logo" class="logo"> <!-- Cambia esta ruta por la correcta -->
        </div>
    </div>
  
</body>
</html>
