<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="logo-container">
        <img src="/img/logo.png" alt="Logo" class="logo"> <!-- Asegúrate de cambiar esta ruta por la correcta -->
    </div>
    <div class="container">
        <h2>Inicio de Sesión</h2>
        <% if (error) { %>
            <div class="error"><%= error %></div>
        <% } %>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p>No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
        <div class="button-container">
            <a href="/" class="button">Regresar al Inicio</a>
        </div>
    </div>
</body>
</html>
