* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1cf5d7, #a8e6cf); /* Degradado de #1cf5d7 a verde chicle */
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 400px; /* Aumenta el ancho del contenedor */
    margin: auto; /* Centra el contenedor en la página */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px; /* Espacio desde la parte superior */
}

h2 {
    text-align: center;
    color: #333;
    margin: 0 0 20px; /* Espacio inferior */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #0056b3; /* Color del borde al enfocar */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Verde chicle para el botón */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Un tono más oscuro para el efecto hover */
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center; /* Centra el botón */
    margin-top: 20px; /* Espacio superior */
}

.button {
    background-color: #4CAF50; /* Verde chicle para el botón */
    color: white; /* Color de texto */
    padding: 10px 20px; /* Tamaño del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Tamaño de la fuente */
    transition: background-color 0.3s, transform 0.2s; /* Suaviza el cambio de color y transformación */
    text-align: center; /* Centra el texto en el botón */
    text-decoration: none; /* Elimina subrayado del enlace */
}

.button:hover {
    background-color: #45a049; /* Un tono más oscuro para el efecto hover */
    transform: translateY(-2px); /* Levanta ligeramente el botón al pasar el ratón */
}
.logo-container {
    position: absolute; /* Posiciona el logo de manera absoluta */
    top: 20px; /* Espacio desde la parte superior */
    left: 30px; /* Espacio desde la izquierda */
    z-index: 100; /* Asegúrate de que el logo esté encima de otros elementos */
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: 100px; /* Mantiene la proporción del logo */
}

